<%= this.include( './partials/input', {
  attributes: [
    [ 'maxlength', '48' ],
    [ 'minlength', '6' ],
    [ 'required',  '' ],
    [ 'pattern', '^(?=.*[0-9a-zA-Zа-яёА-ЯЁ]).*$' ],
    [ 'title', 'хотя бы одну цифру, одну строчную букву, и одну заглавную букву' ],
    [ 'data-type', 'password' ]
  ],
  helper: '',
  type:  'password',
  label: data.label || 'Пароль',
  dark:  data.dark,
  name:  data.name,
  id:    data.id
} ) %>
