<h1>Sign-Up for Free</h1>

<form id="signup">
  <label for="susername">Username: </label>
  <input id="username" type="text" />
  <label for="password">Password: </label>
  <input id="password" type="password" />
  <button id="submit">Sign-Up</button>
</form>

<script src="./build/main.js"></script>
