<h1>Sign Up</h1>

<form id="signup">

  <div class="input-group dark yellow">
    <input id="username" type="text" required="" />
    <label for="username">Username</label>
    <span class="input-helper">Letters (A-Z), digits (0-9), underscores, dashes, or spaces</span>
    <hr />
    <hr class="input-highlight" />
  </div>

  <div class="input-group dark yellow">
    <input id="password" type="text" required="" />
    <label for="password">Password</label>
    <hr />
    <hr class="input-highlight" />
  </div>

  <div class="input-group dark yellow">
    <input id="confirmed-password" type="text" required="" />
    <label for="confirmed-password">Confirmed password</label>
    <hr />
    <hr class="input-highlight" />
  </div>

  <select id="gender" required="">
    <option value="female">A girl</option>
    <option value="male">A boy</option>
  </select>

  <button class="raised-button" id="submit">OK</button>

</form>

<p id="message"></p>
