<!DOCTYPE html>

<html lang="en-US">

<head>
  <title><%= data.title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
  <%= data.content %>
  <script src="./coffee/compiled/main.js"></script>
</body>

</html>
