<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="Cache-Control" content="no-cache" />
  <%# include stylesheets %>
  <% if ( data.head ) {
    print( data.head.join( '' ) );
  } %>
  <title><%- data.title || data.username || 'social network' %></title>
</head>
<body>
  <%= this.include( './partials/top-app-bar', data ) %>
  <%# include the main content (the index page, user profile...) %>
  <div class="container">
    <%= data.content %>
  </div>
  <%# include scripts %>
  <% if ( data.body ) {
    print( data.body.join( '' ) );
  } %>
</body>
</html>
