<h1>Log In</h1>

<form id="login">
  <label for="username">Username: </label>
  <input id="username" type="text" required="" />
  <label for="password">Password: </label>
  <input id="password" type="password" required="" />
  <button id="submit">OK</button>
</form>

<p id="message"></p>
