<div class="row" id="messages">
  <% data.messages.forEach( function ( message ) {
    print( this.include( 'partials/message', { message: message, data: data } ) );
  }, this ); %>
</div>
<div class="row">
  <form class="input-area" method="POST" id="message">
    <textarea name="message"></textarea>
    <button class="flat-button" name="submit" type="submit">отправить</button>
  </form>
</div>
