<div class="mdc-text-field mdc-text-field--outlined" id="<%= data.id %>-textfield">
  <input class="mdc-text-field__input" id="<%= data.id %>" name="<%= data.name %>" type="<%= data.type %>" required="" minlength="<%= data.minlength %>" aria-controls="<%= data.id %>-helper" />
  <label class="mdc-floating-label" for="<%= data.id %>"><%- data.label %></label>
  <%# <div class="mdc-line-ripple"></div> %>
  <div class="mdc-notched-outline">
    <svg>
      <path class="mdc-notched-outline__path"/>
    </svg>
  </div>
  <div class="mdc-notched-outline__idle"></div>
</div>
<p class="mdc-text-field-helper-text" id="<%= data.id %>-helper" aria-hidden="false">&nbsp;</p>
