<div class="row">
  <div class="column-4 column--no-padding">
    <div class="column-12">
      <div class="card">
        <div class="user--avatar" style="background-image: none;"></div>
        <% if ( ! data.loggedAs ) { %>
          <p>Чтобы написать этому пользователю <a href="/">войдите</a> или <a href="/">зарегистируйтесь</a>.</p>
        <% } else if ( data.loggedAs.id === data.user.id ) { %>
          <p>Это ваш профиль.</p>
        <% } else { %>
          <a class="flat-button dark" href="/message/<%= data.user.id %>">написать</a>
          <button class="flat-button dark">добавить в друзья</button>
        <% } %>
      </div>
    </div>
  </div>
  <div class="column-8 column--no-padding">
    <div class="column-12">
      <div class="card">
        <h2 class="user--username"><%- data.user.username %></h2>
        <p<%= data.user.active ? '' : ' class="user--activity" data-activity="' + data.user.activity + '"' %>></p>
        <% if ( data.user.status ) { %>
          <p class="user--status"><%= data.user.status %></p>
        <% } %>
      </div>
    </div>
  </div>
</div>
