@import './lib/reset.sass';
@import 'waft.layout-grid/index.sass';
@import 'waft.button/flat-button';
@import './lib/basic';
@import './lib/card';

.user--avatar {
  background: no-repeat center / cover darken( white, 10% );
  height: 300px;
  margin-bottom: 24px;
}

.user--username {
  display: inline-block;
}

.flat-button {
  @include flat-button-background( white );
  @include flat-button-color( white );
}
